<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Player Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>CRICKET PLAYER MANAGEMENT</h1>
    <nav>
        <a href="{{ url_for('add_player') }}">Add Player</a>
        <a href="{{ url_for('player_list') }}">View Players</a>
         <form action="{{ url_for('search_player') }}" method="GET">
        <label for="jersey_number">Search by Jersey Number:</label>
        <input type="number" id="jersey_number" name="jersey_number" required>
        <button type="submit">Search</button>
    </form>
    </nav>
   
</body>
</html>
